h1{
	margin-top: 10px;
	margin-left: 200px;
}

ul{
	list-style-type:none;
	float:left; 
}
body{
	color:#3f3f3f;
	background-color: #04B404;
}

a{
	text-decoration:none;
	color:#3f3f3f;
}
a:hover{
	color: black;

}
